<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.makcent.dao.ColumnMapper" >
  <resultMap id="BaseResultMap" type="com.makcent.pojo.Column" >
    <constructor >
      <idArg column="column_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parent_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="created_at" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updated_at" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    column_id, title, parent_id, created_at, updated_at, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from column
    where column_id = #{columnId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from column
    where column_id = #{columnId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.makcent.pojo.Column" >
    insert into column (column_id, title, parent_id, 
      created_at, updated_at, status
      )
    values (#{columnId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      now(), now(), #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.makcent.pojo.Column" >
    insert into column
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        now(),
      </if>
      <if test="updatedAt != null" >
        now(),
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.makcent.pojo.Column" >
    update column
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = now(),
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where column_id = #{columnId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.makcent.pojo.Column" >
    update column
    set title = #{title,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = now(),
      status = #{status,jdbcType=TINYINT}
    where column_id = #{columnId,jdbcType=INTEGER}
  </update>
</mapper>