<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.makcent.dao.QuestionAnswerMapper" >
  <resultMap id="BaseResultMap" type="com.makcent.pojo.QuestionAnswer" >
    <constructor >
      <idArg column="answer_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="created_at" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updated_at" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="question_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="member_id" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.makcent.pojo.QuestionAnswer" >
    <constructor >
      <idArg column="answer_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="created_at" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updated_at" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="question_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="member_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="answer" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    answer_id, status, created_at, updated_at, question_id, member_id
  </sql>
  <sql id="Blob_Column_List" >
    answer
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from question_answer
    where answer_id = #{answerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from question_answer
    where answer_id = #{answerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.makcent.pojo.QuestionAnswer" >
    insert into question_answer (answer_id, status, created_at, 
      updated_at, question_id, member_id, 
      answer)
    values (#{answerId,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, now(),
      now(), #{questionId,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT},
      #{answer,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.makcent.pojo.QuestionAnswer" >
    insert into question_answer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="answerId != null" >
        answer_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="answer != null" >
        answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="answerId != null" >
        #{answerId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null" >
        now(),
      </if>
      <if test="updatedAt != null" >
        now(),
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.makcent.pojo.QuestionAnswer" >
    update question_answer
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = now(),
      </if>
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where answer_id = #{answerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.makcent.pojo.QuestionAnswer" >
    update question_answer
    set status = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = now(),
      question_id = #{questionId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT},
      answer = #{answer,jdbcType=LONGVARCHAR}
    where answer_id = #{answerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.makcent.pojo.QuestionAnswer" >
    update question_answer
    set status = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = now(),
      question_id = #{questionId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT}
    where answer_id = #{answerId,jdbcType=INTEGER}
  </update>
</mapper>